.inner-container1{
    border: 2px solid whitesmoke;
    padding: 35px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;

}

.outer-container{
    /* border: 2px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 5px; */
    text-align: center;

}

h2{
    text-align: left;
}

#task{
    border-radius: 10px;
    padding: 6px 20px 6px 10px;
    border:1px solid whitesmoke;
}

.add-btn{
    background-color: rgb(61, 172, 237);
    padding: 7px 13px 7px 13px;
    margin-top: 5px;
    border-radius: 20px;
    color: white;
    border: none;
    size:large;
}

#task-list{
    text-align: left;
    border:2px solid whitesmoke;
    padding: 5px 0px 5px 0px;

}
hr{
    border: 1px solid whitesmoke;
}

.delete-btn{
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    margin: 2px 0px -2px 125px;
}

