body{
    background-color: black;
}

.main-container{
    display: flex;
    flex-direction: row;
}
#left-container{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}
#right-container{
    width: 50%;
    height: auto;
    background-color: #081f2a;
    border-left: 2px solid #404e5b;
    padding-bottom: 95px;
}
.form-container{
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 40px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 102px;
}

input{
   padding : 15px 0px 15px 10px;
   margin: 0px 0px 10px 0px;
   border-radius: 15px;
   border: 0.5px solid #404e5b;
   font-size: 17px;
    background-color: transparent;
    color: white;
}
input::placeholder{
    color: rgb(152, 156, 159);
    font-size: 15px;
}

.button-common{
    border-radius: 15px;
    border: 1px solid #404e5b;
   font-size: 17px;
   height: 42px;  
    background-color: transparent;
    color: white;
}

#login-button{
    margin:10px 0px 20px 0px;
    background-color: rgb(38, 146, 241);
    border: 1px solid rgb(38, 146, 241);
}

.forgot-password{
    color: white;
    text-align: center;
    border: none;
    margin-bottom: 67px;
}
.forgot-password:hover{
    background-color: grey;
}
#facebook-login-button{
    margin-bottom: 10px;
    color: white;
    border: 0.5px solid #404e5b;
}
#create-account-button{
    border: 1px solid rgb(38, 146, 241);
    color: rgb(38, 146, 241);
}

svg{

    color:  rgb(38, 146, 241);
    padding: 0px 5px 0px 0px
}

#meta-logo{
    width: 60px;
    height: auto;
    margin-top: 30px;
}
#meta{    
    text-align: center;
}

.text-c{
    color: white;
    text-align: center;
    font-size: 2.8vw;
    font-family: 'Inter', sans-serif;
}

#head2{
    color:red;
}
.svg_1{
    width: 12%;
    height: auto;
    margin: 35px 0px 0px 28px;
    color: tomato;
    
}

#head1{
    margin: 15px 0px 0px 55px;
}

.svg_2{
    width: 60%;
    height: auto;
    margin: -20px 0px 0px 120px;

}