body{
    background-color: black;
}

.main-container{
    display: flex;
    flex-direction: row;
}
#left-container{
    width: 50%;
    border: 1px solid black;
    height: 100vh;
}
#right-container{
    width: 50%;
    border: 1px solid black;
    height: 100vh;
    background-color: #074B6A;
}
.form-container{
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 40px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

input{
   padding : 15px 0px 15px 10px;
   margin: 0px 0px 10px 0px;
   border-radius: 15px;
   border: 1px solid lightgray;
   font-size: 17px;
    background-color: transparent;
}
.button-common{
    border-radius: 15px;
   border: 1px solid lightgray;
   font-size: 17px;
   height: 42px;  
    background-color: transparent;
    color: white;
}

#login-button{
    margin:10px 0px 20px 0px;
}

.forgot-password{
    color: white;
    text-align: center;
    border: none;
    margin-bottom: 67px;
}
.forgot-password:hover{
    background-color: grey;
}
#facebook-login-button{
    margin-bottom: 10px;
    color: white;
}