#form{
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 5px;
    padding: 25px 10px 25px 10px;
    margin: 0px auto;
    width: 50%;
}
h1{
    text-align: center;
    color: #0d6efd;
}
#table{
    width: 60%; margin: 15px auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}
.style-class{
    width: 90%;
    margin-left: 10px;
}

.style-label{
    margin-left: 10px;
    font-weight: bold;
}
.style-radio{
    margin-left: -15px;
}

.style-dropdown{
    margin-left: 10px;
    width: 90%;
}
.style-submit{
    text-align: center;
    width: 30%;
    margin-left: 200px;
}
th{
    background-color: #0d6efd;
    color: white;
}