<body>
<form (ngSubmit)="submitForm()" id="form">
<H1>User Information Form</H1>
<!-- Name  -->
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label style-label">Name </label>
  <input type="text" class="form-control style-class" id="name" [(ngModel)]="formData.name" name="name" required  placeholder="Enter your name">
</div>
<!-- Email -->
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label style-label">Email address</label>
  <input type="email" class="form-control style-class" id="exampleFormControlInput1" [(ngModel)]="formData.email" name="email" required placeholder="name@example.com">
</div>

<!-- Gender  -->
 <label class="form-label style-label">Gender</label>
<div class="form-check">
  <input class="form-check-input style-radio" type="radio" name="radioDefault" value="Male" id="male" [(ngModel)]="formData.gender">&nbsp;
  <label class="form-check-label" for="radioDefault1">
    Male
  </label>
</div>
<div class="form-check">
  <input class="form-check-input style-radio" type="radio" value="Female" name="radioDefault" id="radioDefault2" [(ngModel)]="formData.gender">&nbsp;
  <label class="form-check-label" for="radioDefault2">
    Female
  </label>
</div>

<!-- countries  -->
<br/>
<label class="form-label style-label">Country:</label>
<select [(ngModel)]="formData.country" required class="form-select style-dropdown" name="country">
  <option value="" selected disabled hidden >Select the country</option>
  <option *ngFor="let city of country" [value]="city">{{city}}</option>
</select>
<br>
<input class="btn btn-primary style-submit" type="submit" value="Submit">

</form>
<table border="1" id="table" class="table-sm table table-striped table-hover table-bordered border-primary table-primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Country</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let row of rows">
      <td>{{ row.name }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.gender }}</td>
      <td>{{ row.country }}</td>
    </tr>
  </tbody>
</table>


</body>
