form{

    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 5% 0% 0% 30%; 
}
form input, form textarea, form select {
    padding: 10px 0px 10px 5px;
    margin-bottom: 20px;
}

/* form textarea{
    padding: 10px 0px 10px 5px;
    margin-bottom: 20px;
} */

form button{
    width: 30%;
    padding: 10px 0px 10px 0px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 38%;
}